In [6]:
int(10.8)
int(1.3)
float(1)
float(3.14)
float("3.14")

3.14

In [11]:
print(float('inf'))
print(float('-inf'))

inf
-inf

In [13]:
print(complex(1))
print(complex(3+5j))

(1+0j)
(3+5j)

In [14]:
str(1)

'1'

In [ ]:
#lists [] can change data
#tuple () cannot change data 
#sets {} find which data element overlaps
#frozenset cannot change
#dictionary contains element names and data

In [16]:
#list implemenation sequence type
my_list1 = [10,10.1,'python',True]
type(my_list1)
my_list1

[10, 10.1, 'python', True]

In [18]:
#tuple implementation sequence type
my_tuple1 = (10,10.1,'python',True)
my_tuple1

(10, 10.1, 'python', True)

In [20]:
my_tuple1 = tuple([1,2,3])
my_tuple1

(1, 2, 3)

In [23]:
print(my_list1[0], my_tuple1[0] )

10 1

In [25]:
vip_names = ['Newton','Euler','Gauss']
vip_names[0] = 'Kepler'
print(vip_names)

['Kepler', 'Euler', 'Gauss']

In [26]:
my_list1 = [10,20,30,40,50]

In [27]:
my_list1[0:4:1] #first is fist index, second is final index - 1, third is increment

[10, 20, 30, 40]

In [28]:
my_list1[0:5:2]

[10, 30, 50]

In [36]:
my_list1[0:3]

print(my_list1[::-1]) #reverse list
print(my_list1[-1:2:-1]) #reverse list
print(my_list1[-1:1:-1]) #reverse list

[50, 40, 30, 20, 10]
[50, 40]
[50, 40, 30]

In [42]:
my_list2 = [[10,20,30,40,50],[20]]
print(my_list2)
my_list3 = [[10,20,30],[40,50,20]]
print(my_list3)
my_list5 = [[10,20,[100,200,300]],[40,50,60]]
print(my_list5[0][2])

[[10, 20, 30, 40, 50], [20]]
[[10, 20, 30], [40, 50, 20]]
[100, 200, 300]

In [43]:
my_list1 = [10,20,30]
my_list2 = [100,200,300]
my_list1 + my_list2

[10, 20, 30, 100, 200, 300]

In [51]:
for i in range(0,len(my_list1)):
    sum = my_list1[i] + my_list2[i]
    
print(sum)

330

In [92]:
vip_names = ['Newton','Euler','Gauss']
type(vip_names)
vip_names.append('Louis')
print(vip_names)
vip_names.remove('Louis')
print(vip_names)
vip_names.pop(1)
print(vip_names)
vip_names.clear()

vip_names.insert(0,'Louis')
vip_names.insert(1,'Juyoung')
vip_names.insert(2,'Peter')
vip_names.insert(3,'Sang')
print(vip_names)

print(vip_names.index('Juyoung'))
print(vip_names.count('Sang'))
vip_names.sort()
print("Sorted function: ", vip_names)
print(vip_names[-1::-1])
vip_names.reverse()
print("Reverse function: " , vip_names)

['Newton', 'Euler', 'Gauss', 'Louis']
['Newton', 'Euler', 'Gauss']
['Newton', 'Gauss']
['Louis', 'Juyoung', 'Peter', 'Sang']
1
1
Sorted function:  ['Juyoung', 'Louis', 'Peter', 'Sang']
['Sang', 'Peter', 'Louis', 'Juyoung']
Reverse function:  ['Sang', 'Peter', 'Louis', 'Juyoung']

In [77]:
data = [['Asia',24],
        ['America',25],
        ['Europe',20],
        ['Africa',28],
        ['Australia',23]]

In [78]:
data

[['Asia', 24],
 ['America', 25],
 ['Europe', 20],
 ['Africa', 28],
 ['Australia', 23]]

In [84]:
my_set1 = {10,20,30}
my_set2 = {10,'Louis',True}
my_set3 = {10,20,30,20}
print(my_set3)

{10, 20, 30}

In [86]:
my_list4 = [10,20,30,40,50]
my_set4 = set(my_list4)
print(my_set4)

{40, 10, 50, 20, 30}

In [90]:
my_set4.add(60)
print(my_set4)

{40, 10, 50, 20, 60, 30}

In [93]:
my_set4.discard(40)
print(my_set4)

{10, 50, 20, 60, 30}

In [98]:
A = {10,20,30,40,50}
B = {40,50,60,70,80}
print("Set A:",A,"\nSet B:", B)

Set A: {40, 10, 50, 20, 30}
Set B: {70, 40, 80, 50, 60}

In [109]:
print(A.union(B))
print(A.intersection(B))
print("Prints only in A:",A.difference(B))
print("Prints only in B:",B.difference(A))
print(A.symmetric_difference(B)) #excludes the overlapping values

{70, 40, 10, 80, 50, 20, 60, 30}
{40, 50}
Prints only in A: {10, 20, 30}
Prints only in B: {80, 60, 70}
{80, 20, 70, 10, 60, 30}

In [2]:
#subset
A = {10,20,30,40,50}
B = {40}
print(B.issubset(A))

#superset
A = {10,20,30,40,50}
B = {40}
print(A.issuperset(B))
print(B.issuperset(A))

True
True
False

In [114]:
#cannot modify frozen sets
A = frozenset([10,20,30,40,50])
B = frozenset([70,40,80,50,60])
C = set([40,50])

print(A & C) #prints out frozen set

frozenset({40, 50})

True